<section class="container">
  <h1 class="header-title" id="index-header"><strong>ALL THE GEAR, NO IDEA</strong></h1>
  <div class="columns is-multiline is-features">
    <% blog.sort().forEach(blog => {%>
      <div class="column is-4">
        <a href="/blog/<%= blog.id %>">
            <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                <img id="index-image" width="300px" height="300px" src="/images/<%= blog.image %>" />
              </figure>
              </a>
            </div>
          </div>
        <div class="card-content">
          <div class-"content">
            <h3><strong><%= blog.name %></strong></h3>
            <h3>Day <%= blog.dayNumber %></h3>
            <p id="shortSummary"><%= blog.shortSummary %></p>
            <a href="/blog/<%= blog.id %>"><span class="button is-link modal-button" data-target="modal-image2">Got to post</span></a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
