<main>
  <h1>all blog posts</h1>
  <div class="blogpost-grid columns is-multiline article-container">
    <% blog.sort().forEach(blog => {%>
      <div class="column is-3">
        <a href="/blog/<%= blog.id %>">
          <img width="300px" height="300px" src="/images/<%= blog.image %>" />
          <h3><%= blog.name %></h3></a>
          <h3>Day <%= blog.dayNumber %></h3>
          <p><%= blog.shortSummary %></p>
      </div>
  <% }) %>
</div>
</main>
