<main class="showpage">
  <h1 id="show-header"><%= name %></h1>
  <div class="columns is-desktop">
    <div class="column is-4"><img src="/images/<%= image %>"/></div>
    <div class="column is-4"<p class="text"><%= blogContent %></p>
      <div class="editing-buttons">
        <% if (locals.isLoggedIn) { %>
          <div class="buttons">
            <form action="/blog/<%= _id %>?_method=DELETE" method="post">
              <button class="button">Delete</button>
            </form>
            <a class="button" id="edit-button" href="/blog/<%= _id %>/edit">Edit</a>
          </div>
          <div>
            <% ratings.forEach(rating => { %>
              <div>
                <span style="font-weight: bold;"><%= rating.username %></span>
                <span><%= rating.score %></span>
              </div>
              <div>
                <span><%= rating.comment %></span>
                <span>
                  <form method="POST" action="/blog/<%= _id %>/ratings/<%= rating._id %>?_method=DELETE">
                    <button>x</button>
                  </form>
                </span>
              </div>
              <% }) %>
            </div>
            <div>
              <form method="POST" action="/blog/<%= _id %>/ratings">
                <textarea name="comment"></textarea>
                <input name="username" type="hidden" value="<%= locals.currentUser.username %>"/>
                <input name="score" type="number" min="0" max="5"/>
                <button id="rating-button">Rate this blogpost!</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
        <div class="aside column is-2">
          <p class="text">Day Number:
            <%= dayNumber %>
          </p>
          <p class="text">Distance Cycled:
            <%= distance %>
          </p>
        </div>
      </main>
